<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <main>
        <header>
            <h2 style = "text-align: center" th:text="${session.User_Session.username} + '\'s Teams'">
            </h2>
        </header>
        <div id = "accountPageContent">
            <div id = "userTeams">
                Test
            </div>
            <div id = "newTeam">

            </div>
            <div id = "accountButtons">

            </div>
        </div>
    </main>
</body>
</html>